@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */
*{transition: .5s;}
a{
	text-decoration: none;
	display: inline-block;
	color:white;
}
 /* ======= Your styling goes below ======= */

 /* 1. Header
==========================================================*/
header{
	background: black;
	display:flex;
	border-top:1px solid white;
	border-bottom: 1px solid #474747;
}
.sociallinks{
	display: flex;
	justify-content: flex-start;   
	flex: 0 1 30%;
	align-items:center;
}

.sociallinks a{
	margin-left: 10px;
	font-size: 20px;
	color: white;
	position:relative;
	/* padding: 10px 0; */
	z-index: 1;
	line-height: 1.618;
}
.sociallinks a:hover{
	background:linear-gradient(to right, rgba(255,0,0,.5), rgba(255,0,0,0), rgba(255,0,0,.5));
}
nav{
	display:flex;
	width:100%;
}
.navlinks{
	display:flex;
	justify-content: flex-start;
	flex: 0 1 70%;
	align-items:center;
}
.navlinks a {
	position:relative;
	/* padding: 10px 0; */
	z-index: 1;
	margin-left: 10px;
	font-size: 16px;
	line-height: 1.618;
	text-transform: uppercase;
}
.navlinks a:hover{
	background:linear-gradient(to right, rgba(255,0,0,.5), rgba(255,0,0,0), rgba(255,0,0,.5));
	border-radius:10%;
}
/* banner
================================================================ */
main{
	background:#000;
	position:relative;
	z-index: 2;
	width:100%;
	height:100vh;
	overflow:hidden;
}
.title, .batman, .wonder, .flash, .aqua, .cyborg{
	position:absolute;
	z-index:3;
}
.batman{
	top:-3%;
	left:20%;
	z-index: 8;
	animation-name:batanim;
	animation-delay: 4s;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;

}
.batman img{
	width:140%;
}
.wonder{
	top:4%;
	right:11.5%;
	z-index: 7;
	animation-name:wondanim;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
.flash{
	top:2%;
	left:11.5%;
	z-index: 7;
	animation-name:flashanim;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
.aqua{
	top:-20%;
	z-index: 6;
	left:-27%;
	animation-name:aguaanim;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}
.aqua img{
	width:90%;
}
.cyborg{
	top:-2%;
	right:-7%;
	z-index: 6;
	animation-name:cybanim;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}
.title{
	top:47%;
	left:45.5%;
	z-index:9;
	animation-name:titleanim;
	animation-duration: 2s;
	animation-delay: 5s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}
.title img{
	width:45%;
}
@keyframes titleanim{
	0%{
		top:47%;
		left:45.5%;
		z-index:0;
		opacity:0;
	}
	100%{
		top:47%;
		left:45.5%;
		z-index:9;
		opacity:1;
	}
}
@keyframes batanim{
	0%{
		top:-3%;
		left:20%;
		z-index: 0;	
		opacity: 0;
	}
	100%{
		top:-3%;
		left:20%;
		z-index: 8;	
		opacity: 1;
	}
}
@keyframes wondanim{
	0%{
		top:0;
		right:-200%;
		z-index: 7;
		opacity: 0;
}
	100%{
		top:4%;
		right:11.5%;
		z-index: 7;
		opacity: 1;
	}
}
@keyframes flashanim{
	0%{
		top:0;
		left:-200%;
		z-index: 7;
	}
	100%{
		top:2%;
		left:11.5%;
		z-index: 7;
	}
}
@keyframes aguaanim{
	0%{
		top:0;
		z-index: 6;
		left:-200%;
	}
	100%{
		top:-20%;
		z-index: 6;
		left:-27%;
	}
}
@keyframes cybanim{
	0%{
		top:0;
		right:-200%;
		z-index: 6;
	}
	100%{
		top:-2%;
		right:-7%;
		z-index: 6;
	}
}

